<% layout("/layouts/boilerplate.ejs") -%>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3>Create a New Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="Add a catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Please enter a title.</div>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description.</div>
        </div>

        <!-- Image Link -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter an image link.</div>
        </div>

        <!-- Price and Country (Side by Side) -->
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter a valid price.</div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="India"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid country name.
            </div>
          </div>
        </div>

        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Rajkot, Gujarat"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid location.</div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-dark edit-btn">Add</button>
      </form>
    </div>
  </div>
</div>
<br />
